{% load i18n %}

<!DOCTYPE html>
<html lang="en">

<head>

	{% load static %}

	<!-- 3rd Party -->
	<script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/jquery.serializejson.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/plotly-1.50.0.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/popper-1.12.9.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/spectrum.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/math.min.js' %}"></script>
	<link rel='stylesheet' type="text/css" href="{% static 'css/spectrum.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'fontawesome-5.7.2/css/all.min.css' %}">

	<!-- <link rel="stylesheet" type="text/css" href="{% static 'leaflet/leaflet.css' %}">
	<script type="text/javascript" src="{% static 'leaflet/leaflet.js' %}"></script> -->
	
	{% if mapbox_token %}
	<!-- Load MapBox -->
	<script src='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.js'></script>
	<link href='https://api.tiles.mapbox.com/mapbox-gl-js/v2.2.0/mapbox-gl.css' rel='stylesheet' />
	<script type="text/javascript">
		mapboxgl.accessToken = "{{ mapbox_token }}";
	</script>
	{% endif %}
	
	<script type="text/javascript" src="{% static 'js/select2-4.0.6.min.js' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'css/select2-4.0.6.min.css' %}">
	
	<!-- Internal -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
	<link rel="shortcut icon" type="image/png" href="{% static 'images/engage-logo-16.ico' %}"/>

	<!-- Global site tag (gtag.js) - Google Analytics -->
	<script async src="https://www.googletagmanager.com/gtag/js?id=UA-92269730-3"></script>
	<script>
	  window.dataLayer = window.dataLayer || [];
	  function gtag(){dataLayer.push(arguments);}
	  gtag('js', new Date());

	  gtag('config', 'UA-92269730-3');
	</script>
	{% if nrel_api_key %}
	<script type="text/javascript">
		var nrel_api_key = "{{ nrel_api_key }}";
		var test = 'test';
	</script>
	{% endif %}

	{% csrf_token %}

	{% block head %}
	{% endblock %}

</head>

<body>

	{% if messages %}
		{% include '_messages.html' %}
	{% endif %}
  
	<div id="header" class="container-fluid" data-model_uuid="{{ model.uuid }}{{ last_model.uuid }}" data-cambium_url="{{ cambium_url }}">
		<div class="row">
			<div class="col-12" style="font-size:20px;height:36px;padding:0">

				<!-- Home -->
				&nbsp;&nbsp;
				<a href="{% url 'home' %}" style="text-decoration: none">
					<button class="btn btn-sm" style="height:100%;padding:1px;">
						&nbsp;&nbsp;
						<img src="{% static 'images/engage-logo-horiz-sm_100x32.png' %}" height="100%" />
						&nbsp;&nbsp;
					</button>
				</a>

				<!-- Model -->
				{% if model %}
					{% if can_edit == True %}
					<button class="btn btn-sm" data-toggle="modal" data-target="#helpModal" style="height:100%;"><b>{{ model }}</b></button>
					{% else %}
					<button class="btn btn-sm" data-toggle="modal" data-target="#helpModal" style="height:100%; background-color: yellow;"><b>{{ model }}</b>&nbsp;&nbsp;&nbsp;&nbsp;[ {% trans "VIEW ONLY" %} ]</button>
					{% endif %}
				{% endif %}

				{% if user.is_authenticated %}

					<!-- Model Sharing -->
					<a href="{% url 'settings' %}"><button class="btn btn-sm" style="height:100%;">{% trans "Share" %}</button></a>

					<!-- Model Sharing -->
					<a href="{% url 'settings' %}"><button class="btn btn-sm" style="height:100%;">{% trans "Account" %}</button></a>

					<!-- Timezones -->
					{% if timezones %}
					<button class="btn btn-sm" data-toggle="modal" data-target="#helpModal" style="height:100%;">{% trans "Timezone" %}</button>
					{% endif %}

				{% endif %}

				<!-- Help -->
				<button class="btn btn-sm" data-toggle="modal" data-target="#helpModal" style="height:100%;">{% trans "Help" %}</button>

				<a href="https://www.nrel.gov/" target="_blank">
					<div style="float:right">&nbsp;&nbsp;&nbsp;<img src="{% static 'images/nrel_logo_full_sm.jpg' %}" height="36px" />&nbsp;&nbsp;&nbsp;</div>
				</a>

				<!-- Languages -->
				<!-- <div class="btn-group" style="height:30px;margin-top:3px;float:right">
					<form style="font-size:13px;" action="{% url 'set_language' %}" method="post" >{% csrf_token %}
						<input name="next" type="hidden" value="{{ redirect_to }}">
						<select name="language" onchange="this.form.submit()" class="btn-default" style="margin-left:3px;width:60px;height:30px !important;border-radius:0;">
							{% get_current_language as LANGUAGE_CODE %}
							{% get_available_languages as LANGUAGES %}
							{% get_language_info_list for LANGUAGES as languages %}
							<option disabled>Select your language...</option>
							{% for language in languages %}
								<option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %} selected{% endif %}>
									{{ language.name_local }} ({{ language.code }})
								</option>
							{% endfor %}
						</select>
					</form>
				</div> -->
				{% get_current_language as LANGUAGE_CODE %}
				<script type="application/javascript">
					var LANGUAGE_CODE = '{{ LANGUAGE_CODE }}';
				</script>

			</div>
		</div>
	</div>

	<div id="content" class="mt-4 container-fluid" style="height:100%">
		<div id="overlay-back"></div>
		{% block body %}
		{% endblock %}
	</div>
	
	<!-- Data Source Modal -->
	{% if model %}
	<div id="data-source-modal">
	  	<div id="data-source-modal-content">
	  		{% include "pvwatts_form.html" %}
	  		{% include "wtk_form.html" %}
	  	</div>
	</div>
	{% endif %}

	<!-- Modal -->
	<div class="modal fade" id="helpModal" tabindex="-1" role="dialog" aria-labelledby="helpModalTitle" aria-hidden="true">
	  <div class="modal-dialog" role="document">
	    <div class="modal-content">
	      <div class="modal-header">
	        <h5 class="modal-title" id="helpModalTitle">{% trans "Help Guide" %}</h5>
	        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	      <div class="modal-body">

	      	<!-- Header -->
			<img src="{% static 'images/engage-logo-horiz-lrg.png' %}" width="40%" />
			<br><br>
			{% trans "OPEN ACCESS ENERGY SYSTEM PLANNING" %}<br>
			{% trans "Supported on Modern" %} <a href="https://www.google.com/chrome"><i class="fab fa-chrome"></i> Chrome</a> {% trans "and" %} <a href="https://www.firefox.com/"><i class="fab fa-firefox"></i> Firefox</a> {% trans "Browsers" %}
			<br><br>

	      	<!-- Assistance -->
	      	<b>{% trans "Project Assistance" %}:</b>&nbsp;
			<a href = "mailto: Tom.Harris@nrel.gov"><i class="fas fa-envelope"></i> Tom Harris</a>
			<br>
			<b>{% trans "Technical Assistance" %}:</b>&nbsp;
			<a href = "mailto: Robert.Spencer@nrel.gov"><i class="fas fa-envelope"></i> Rob Spencer</a>
	      	<hr>

	      	<!-- Calliope Documentation -->
	      	<a href="https://www.callio.pe/" target="_blank">
				<img src="{% static 'images/calliope_logo.png' %}" height="36px" style="margin-top:-4px" />
			</a>
			&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
	      	<a href="https://calliope.readthedocs.io/en/v0.6.3/" target="_blank"><b>Calliope {% trans "Documentation" %} 0.6.3</b></a>
	      	<hr>

	      	<!-- Contextual Content -->
	      	{{ help_content }}

	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans "Close" %}</button>
	      </div>
	    </div>
	  </div>
	</div>

</body>
</html>
