<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load i18n %}

{% load return_item %}

<div class="col-12">
	<div class="row" style="margin: 5px; padding: 5px;">
		<div class="col-3 centered">
			<button id="technology-delete" {% if not can_edit %}disabled{% endif %} type="button" class="btn btn-outline-danger btn-sm"><i class="fas fa-trash"></i> Delete</button>
		</div>
		<div class="col-6 centered" style="font-size: 1.2em; font-weight: bold;">
			{{ technology.abstract_tech.icon|safe }}&nbsp;&nbsp;{{ technology.abstract_tech.pretty_name }}:&nbsp;&nbsp;
			<span style="font-size: 0.8em;">{{ technology.calliope_name }}</span>
			{% with 'images/technologies/'|add:technology.abstract_tech.name|add:'.png' as image_static %}
			<!-- <img width="100px" src="{% static image_static %}"> -->
			{% endwith %}
			<!-- <i class="fas fa-info-circle"></i>&nbsp;&nbsp;{{ technology.abstract_tech.description|safe }} -->
		</div>
		<div class="col-3 centered">
			<input {% if not can_edit %}disabled{% endif %} id="tech_color" type="text" name="essentials[3]" value="{{ essentials.3.value }}" />
		</div>
	</div>
</div>
<div class="col-6">
	<div class="row">

		<!-- Name -->
		<div class="col-5">
			<b>{% trans "Name" %}:</b>
		</div>
		<div class="col-7">
			<input {% if not can_edit %}disabled{% endif %} id="tech_name" style="width:100%" type="text" name='essentials[tech_name]' value="{{ technology.pretty_name }}">
		</div>

		<!-- Version Tag -->
		<div class="col-5" data-toggle="tooltip" data-placement="left" title="{% trans 'Used to differentiate multiple versions of the same technology' %}">
			<b>{% trans "Version Tag" %}:</b>
		</div>
		<div class="col-7">
			<input {% if not can_edit %}disabled{% endif %} id="tech_tag" style="width:100%" type="text" name='essentials[tech_tag]' value="{% if technology.pretty_tag %}{{ technology.pretty_tag }}{% endif %}">
		</div>

	</div>
</div>
<div class="col-6">
	<div class="row">
		<!-- Carriers -->
		{% if technology.abstract_tech.name != 'conversion_plus' %}
			<!-- Required Carriers (Simple) -->
			{% for carrier_id in required_carrier_ids %}
				{% with essentials|return_item:carrier_id as carrier %}
				{% if carrier %}
					{% include 'carrier_form_simple.html' %}
				{% endif %}
				{% endwith %}
			{% endfor %}
		{% else %}
			<!-- Required Carriers (Conversion Plus) -->
			<div class="col-12">
			{% for carrier_id in required_carrier_ids %}
				{% with essentials|return_item:carrier_id as carrier %}
				{% with True as required %}
				{% if carrier %}
					{% include 'carrier_form_complex.html' %}
				{% endif %}
				{% endwith %}
				{% endwith %}
			{% endfor %}
			</div>
			<!-- Optional Carriers (Conversion Plus) -->
			<div class="col-12">
			{% for carrier_id in cplus_carrier_ids %}
				{% with essentials|return_item:carrier_id as carrier %}
				{% with False as required %}
				{% if carrier %}
					{% include 'carrier_form_complex.html' %}
				{% endif %}
				{% endwith %}
				{% endwith %}
			{% endfor %}
			</div>
		{% endif %}
	</div>
</div>
<div class="col-12" style="margin-bottom: 8px;">
	<!-- Description -->
	<textarea {% if not can_edit %}disabled{% endif %} name="essentials[tech_description]" placeholder="Notes..." id="tech_description">{% if technology.description %}{{ technology.description }}{% endif %}</textarea>
</div>
